<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Writer </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <style>
        .vertical-offset-10 {
            margin-bottom: 10px;
        }

        .vertical-offset-20 {
            margin-bottom: 20px;
        }

        .icon-button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            border: 0;
            background: transparent;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed top">
    <div class="container-fluid">
        <div class="navbar-header col-md-2">
            <a class="navbar-brand" href="#">Mozenda</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{request.user.username}}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3  col-md-2 sidebar">
            <ul class="nav nav-pills nav-stacked sidebar">
                <li role="presentation" id="nav_home"><a href="{% url 'index' %}">Home</a></li>
                <li role="presentation" id="nav_mappings"><a href="{% url 'mappings' %}">Mappings</a></li>
                <li role="presentation" id="nav_services"><a href="{% url 'service_home' %}">Services</a></li>
                <li role="presentation" id="nav_tools"><a href="{% url 'tools_index' %}">Tools</a></li>
            </ul>
        </div>


        {% block content %}
        {% endblock %}


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $("li").on("click", function () {
                $(this).removeClass("active");
                $(this).addClass("active");
            });
        </script>


        {% block scripts %}
        {% endblock %}

</body>
</html>