{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{%  static 'tools/tools_index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/b-1.3.1/cr-1.3.3/r-2.1.1/se-1.2.2/datatables.min.css"/>
{% endblock %}
{% block content %}

  <div class="container">
      <div class="row">
        <div>
            <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="currently_moving_table">
                 <thead>
                    <tr>
                        <th>Id</th>
                        <th>User</th>
                        <th>SectionKeyID</th>
                        <th>AgentID</th>
                        <th>Source</th>
                        <th>Target</th>
                        <th>Status</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
  </div>

<div class="container">
    <div class="row">
               <div class="col-md-3">
                   <h1>Agent Mover</h1>
               </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
           <label for="label_source_env">
               From:
             <select class="js-example-basic single js-states form-control" id="source_env">
                 <option value="test">Test</option>
                 <option value="prod">Prod</option>
             </select>
           </label>
        </div>
        <div class="col-md-2">
            <label for="label_target_env">
                To:
                 <select class="js-example-basic single js-states form-control" id="target_env">
                 <option value="prod">Prod</option>
                 <option value="test">Test</option>
                </select>
            </label>
        </div>
         <div class="col-md-2">
            <label for="label_section">
                Section:
                 <select class="js-example-basic single js-states form-control" id="section">
                 <option value="License">License</option>
                </select>
            </label>
        </div>
        <div class="col-md-3 vertical-offset-10">
        <form>
            <div class="form-group">
                <label for="agentid_input_label">Agent:
                    <select id="agentid_input"></select>
                </label>
                <button type="submit" class="btn btn-primary" id="add_button">Add</button>
            </div>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 vertical-offset-20">
{#            <button id="delete_rows">Delete Selected Rows</button>#}
{#            <button id="clear_table">Clear Table</button>#}
        <table id="move_agent_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>SectionKeyID</th>
                    <th>AgentID</th>
                    <th>Source</th>
                    <th>Target</th>
                    <th>Status</th>
                    <th>CollectionID</th>
                    <th>CollectionViewID</th>
                    <th>OutputCollectionID</th>
                    <th>ViewID</th>
                    <th>SearchType</th>
                    <th>SearchSequence</th>
                    <th>Section</th>
                    <th>IsAutomationEnabled</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button type="button" id="execute" class="btn btn-primary">Execute</button>
        </div>
    </div>
</div>

<div class="container">

</div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/b-1.3.1/cr-1.3.3/r-2.1.1/se-1.2.2/datatables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.15/api/fnFindCellRowIndexes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% static 'tools/agent_mover.js' %}"></script>
    <script type="text/javascript">
    get_user_moved_agents("{{request.user.username}}")
        $("#add_button").on("click", function () {
            event.preventDefault();
            add_to_table("{{request.user.username}}")
     })

        $("#execute").on("click", function () {
            move_agents("{{request.user.username}}")

        })



    </script>
{% endblock %}