{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{%  static 'tools/tools_index.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/b-1.3.1/cr-1.3.3/r-2.1.1/se-1.2.2/datatables.min.css"/>
{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <table id="base_license_table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                 <th>User</th>
                <th>Environment</th>
                <th>Section</th>
                <th>Name</th>
                <th>State</th>
                <th>LicenseType</th>
                <th>SearchType</th>
                <th>SearchOrderID</th>
                <th>AgentName</th>
                <th>CollectionName</th>
                <th>Status</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="container">
    <form>
        <div class="form-group">
            <label for="env_category" class="col-sm-2 control-label">Environment:</label>
                <select name="env_category" id="env_category" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="section_category" class="col-sm-2 control-label">Section:</label>
                <select name="section_category" id="section_category" class="form-control"></select>
        </div>

        <div class="form-group">
            <label for="state_code" class="col-sm-2 control-label">State:</label>
                <select name="state_code" id="state_code"></select>
        </div>

        <div class="form-group">
            <label for="lic_type" class="col-sm-2 control-label">License Type:</label>
                <select name="lic_type" id="lic_type"></select>
        </div>

        <div class="form-group">
            <label for="search_type" class="col-sm-2 control-label">Search Type:</label>
                <select id="search_type"></select>
        </div>

        <div class="form-group">
            <label for="search_order" class="col-md-2 control-label">Search Order:</label>
                <input type="number" class="form_data" name="" id="search_order" placeholder="SearchOrder" required>
        </div>
        <div class="form-group">
            <div class="col-sm-3 col-md-3">
                <button id="add_agent" type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <table id="staging_table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Environment</th>
             <th>Section</th>
            <th>Name</th>
            <th>State</th>
            <th>LicenseType</th>
            <th>SearchType</th>
            <th>SearchOrder</th>
            <th>AgentName</th>
            <th>CollectionName</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
    <button id="execute" class="btn btn-primary">Execute</button>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

<!--<script type="text/javascript"-->
<!--src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/b-1.3.1/cr-1.3.3/r-2.1.1/se-1.2.2/datatables.min.js"></script>-->
<script src="//cdn.datatables.net/plug-ins/1.10.15/api/fnFindCellRowIndexes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static  'tools/base_template.js' %}"></script>
<script>

    $("#add_button").on("click", function (event) {
        event.preventDefault()
        add_agent("{{request.user.username}}" )

    })

    $("#execute").on("click", function (event) {
        event.preventDefault()
        setup_templating("{{request.user.username}}" )

    })
</script>

{% endblock %}