{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{%  static 'tools/tools_index.css' %}">
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/b-1.3.1/cr-1.3.3/r-2.1.1/se-1.2.2/datatables.min.css"/>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-2">
        <a href="{% url 'agent_mover' %}">
            <div class="thumbnail">
                <div class="col-md-offset-3">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"
                          style="font-size:8.5em;text-align:right;"></span>

                    <div class="caption">
                        <h3>Agent Mover</h3>
                        <p>Moves agent between environments</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-2">
        <a href="{% url 'update_automation' %}">
            <div class="thumbnail">
                <div class="col-md-offset-3">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"
                          style="font-size:6.5em;text-align:right;"></span>
                    <div class="caption">
                        <h3>Update Automation</h3>
                        <p>Enable/Disable agents from automation</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

     <div class="col-sm-6 col-md-2">
        <a href="{% url 'update_mappings' %}">
            <div class="thumbnail">
                <div class="col-md-offset-4">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"
                          style="font-size:6.5em;text-align:right;"></span>
                    <div class="caption">
                        <h3>Update Mappings</h3>
                        <p>Add/Update agents mappings to database</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

         <div class="col-sm-6 col-md-2">
        <a href="{% url 'base_template' %}">
            <div class="thumbnail">
                <div class="col-md-offset-5">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                          style="font-size:6.5em;text-align:right;"></span>
                    <div class="caption">
                        <h3>Base Template</h3>
                        <p>Agent starter kit for AIMS</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
<script>
    $("#nav_tools").addClass("active")
</script>
{% endblock %}
