{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css"/>
{% endblock %}
{% block content %}
<div class="col-md-4 main">
    <h1>Update Automation</h1>
    <br>
    <form>
        <div class="form-group">
            <label for="environment">Environment:
                <select id="environment"></select>
            </label>
        </div>
        <div class="form-group">
            <label for="sectionkeyid">SectionKeyId
                <select type="text" class="form-control" id="sectionkeyid"></select>
            </label>
        </div>
        <div class="form-group">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Enable <br>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Disable <br>
        </div>
        <div class="form-group">
            <label for="reason">Reason
                <textarea class="form-control" rows="5" id="reason"></textarea>
            </label>
        </div>
        <button id="add_sectionkeyid" type="submit" class="btn btn-primary">Add</button>
    </form>
    <div class="container">
        <hr>
    </div>
    <h2>
        <small>Staging Table</small>
    </h2>
    <table id="staging_table" class="table table-striped table-bordered">
        <thead>
        <th>SectionKeyID</th>
        <th>AutomationStatus</th>
        <th>Reason</th>
        <th>Status</th>
        </thead>
    </table>
    <button id="automation" class="btn btn-primary">Execute</button>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static  'tools/update_automation.js' %}"></script>
{% endblock %}

