{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'tools/update_mappings.css' %}">
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css"/>

{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <table id="update_table" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Environment</th>
                <th>AgentID</th>
                <th>Name</th>
                <th>Section</th>
                <th>SearchType</th>
                <th>LicenseType</th>
                <th>SearchOrderID</th>
                <th>Status</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="env_category" class="col-sm-2 control-label">Environment:</label>
                <select name="env_category" id="env_category" class="form-control"></select>
            <button type="button" class="icon-button" data-toggle="modal" data-target="#envModal"><span
                    class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
        </div>
        <div class="form-group">
            <label for="lic_category" class="col-sm-2 control-label">Section:</label>
                <select name="lic_category" id="lic_category" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="lic_type" class="col-sm-2 control-label">License Type:</label>
                <select name="lic_type" id="lic_type"></select>
        </div>

        <div class="form-group">
            <label for="search_order" class="col-sm-2 control-label">Search Type:</label>
                <select id="search_type"></select>
        </div>

        <div class="form-group">
            <label for="agent_id" class="col-sm-2 control-label" title="Searchable by name">Agent:</label>
                <select id="agent_id"></select>
        </div>

        <div class="form-group">
            <label for="search_order" class="col-md-2 control-label">Search Order:</label>
                <input type="number" class="form_data" name="" id="search_order" placeholder="SearchOrder" required>
        </div>
        <div class="form-group container">
            <button id="add_agent" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <div class="container">
    <table id="staging_table" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Environment</th>
            <th>AgentID</th>
            <th>Name</th>
            <th>Section</th>
            <th>SearchType</th>
            <th>LicenseType</th>
            <th>SearchOrderID</th>
            <th>Status</th>
        </tr>
        </thead>
    </table>
    <button id="map" class="btn btn-primary">Map</button>
</div>
</div>





<!-- Modals -->

<!-- Env Modal -->
<div class="modal fade" id="envModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Environment</h4>
      </div>
      <div class="modal-body">
          <p> <b><u>Environment</u></b> is the server location where the agent resides. </p>
          <p>Ala-Mozenda-01.precheck.com => Prod </p>
          <p>testmozenda.precheck.com => Test </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




</div>
</div>


{% endblock %}

{% block scripts %}


<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

<!--<script type="text/javascript"-->
<!--src="https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/b-1.3.1/cr-1.3.3/r-2.1.1/se-1.2.2/datatables.min.js"></script>-->
<script src="//cdn.datatables.net/plug-ins/1.10.15/api/fnFindCellRowIndexes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static  'tools/update_mappings.js' %}"></script>
<script>
    $("#add_agent").on('click', function (event) {
        event.preventDefault()
        add_mapping("{{request.user.username}}")
    })
</script>

{% endblock %}