{% extends 'main/base.html' %}

{% block content %}
    <div class="col-md-8">
        <div class="jumbotron">
            <h3>Agent writing, simplified</h3>
            <h6>Our tools are designed to create a seamless experience for agent writers</h6>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script>
        $("#nav_home").addClass("active")
    </script>
{% endblock %}
