{% extends 'main/base.html' %}
{% url 'mappings' %}
{% block content %}
    <div class="container-fluid">
        <h1>Services</h1>
        <div class="col-md-10">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Logs</th>
        </tr>
        <tbody>
            <tr>
                <td>1</td>
                <td>Harris Watcher</td>
                <td>Active</td>
                <td><button id="log_button" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Logs</button></td>
            </tr>
        </tbody>
        </thead>
    </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
             <h4 class="modal-title">Harris Logs</h4>
        </div>
        <div class="modal-body">
            <p>Sample text</p>
        </div>
        <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
  </div>
<script>
    $(function() {
        $("#log_button").on('click', function () {
            var url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "{% url 'harrislogs' %}"
            $.ajax({
                url: url,
                method: 'GET',
                success: function(data) {
                    var modal_body = $(".modal-body").empty()
                    $.each(data.data, function (index, item) {
                        modal_body.append("<p>" + item + "</p>")
                    })
                },
                error: function (data) {
                    console.log(data)
                }
            })

        })

    })
</script>
{% endblock %}
