<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Writer </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <style>
             .vertical-offset-10{
              margin-bottom:10px;
              }

             .vertical-offset-20{
              margin-bottom:20px;
              }
    </style>
</head>
<body>
{% block content %}
{% if form.errors %}
<p>Username and Password didn't match {{form.errors}}</p>
{% endif %}


<div class="row">
     <div class="col-md-4 col-md-offset-4">
         <h2>Login</h2>
     </div>
</div>

<div class="row">
     <div class="col-md-4 col-md-offset-4">
         <form method="post" action="{% url 'login' %}">
             {% csrf_token %}
             <div class="form-group">
                 <label>Username</label>
                 <!--<input type="email" class="form-control" id="inputusername" placeholder="Email">{{ form.username }}-->
                 {{ form.username }}
             </div>
             <div class="form-group">
                 <label>Password</label>
                 <!--<input type="password" class="form-control" id="inputpassword" placeholder="Password"> {{form.password}}-->
                 {{form.password}}
             </div>
             <button type="submit" class="btn btn-default" value="login">Submit</button>
             <input type="hidden" name="next" value="{{ next }}">
         </form>
     </div>
</div>
{% endblock %}
</body>

