<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agent Writer </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed top">
    <div class="container-fluid">
       <div class="navbar-header col-md-2">
           <a class="navbar-brand" href="#">Mozenda</a>
       </div>
         <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked sidebar">
            <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
            <li role="presentation"><a href="{% url 'mappings' %}">Mappings</a></li>
            <li role="presentation"><a href="{% url 'services' %}">Services</a></li>
            <li role="presentation"><a href="#">Reports</a></li>
            <li role="presentation"><a href="#">Logs</a></li>
        </ul>
    </div>


{% block content %}
{% endblock %}
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>