{% extends 'main/base.html' %}
{% load static %}
{% url 'mappings' %}
{% block head %}
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css"/>
{% endblock %}
{% block content %}
	<div class="col-sm-2 col-md-8">
		<div class="dropdown vertical-offset-20 col-md-6">
			<form>
				<select class="form-control target" id= "mapdropdown">
					<option selected="selected" value="prod">Prod</option>
					<option value="test">Test</option>
				</select>	
			</form>
		</div>



		<table id="mappings" class="table table-striped table table-bordered">
			<thead>
				<tr>
					<th>Section</th>
					<th>SectionKeyID</th>
					<th>SearchOrderID</th>
					<th>AgentID</th>
					<th>SearchType</th>
					<th>InputID</th>
					<th>InputViewID</th>
					<th>OutputID</th>
					<th>OutputViewId</th>
					<th>Automation Enabled</th>


				</tr>
			</thead>
		</table>
	</div>

<script>
    $("#nav_mappings").addClass("active")
</script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

<script src="{% static 'mappings.js' %}"></script>

 

{% endblock %}
