{% extends 'base.html' %}

{% block content %}
        <h1>Hello World</h1>
{% endblock %}

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
</html>